.admin-header {
	background-color: #292b2c;
	color: #fff;
	padding-bottom: 20px;
}

.admin-panel {
	padding: 0;
	background-color: #fff;
}

.sidebar {
	border: #cacaca solid 1px;
	background-color: #f2f2f2;
}

.sidebar>ul>a>li {
	padding: 10px;
	border-bottom: #cacaca solid 1px;
}

.sidebar>ul>a>li {
	font-size: 18px;
	color: black;
}

td.action {
	padding: 2px;
}

.paginator-container {
	margin: 10px;
}