.quiz-question-card {
	margin-top: 20px;
	padding: 0;
	background-color: #eee;
}

.form-check-label.correct-answer {
	margin-bottom: 15px;
}

.quiz-question-card>.card-header>span>h6 {
	display: inline;
}