.question-answers {
	margin-top: 10px;
	width: 100%;
}

.question-answers>.btn-primary.active {
	background-color: #7bc2ff;
	border-width: 5px;
	font-weight: 700;
	border-color: #7bc2ff;
}

.quiz-card-image {
	height: 270px;
}

div.stars {
	width: 270px;
	display: inline-block;
}

input.star { display: none; }

label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 35px #F62;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}

textarea#comment {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn.disabled {
	opacity: 1;
}

.question-container.correct {
	border-width: 3px;
	border-color: #008000;
	border-radius: 5px;
	background-color: #d7ffd7;
	color: green;
	border-style: solid;
	padding-top: 20px;
}

.question-container.wrong {
	border-width: 3px;
	border-radius: 5px;
	background-color: #ffdddd;
	color: red;
	border-style: solid;
	padding-top: 20px;
}

.start-again-btn {
	margin-bottom: 10px;
}

.answer-content {
	white-space: pre-wrap;
}


