body {
	background-color: #e5e5e5;
}

.container {
	margin-top: 75px;
}

.quiz-card {
	margin-top: 20px;
}

.quiz-card-image {
	width: 100%;
	min-height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}

.quiz-card-body {
	padding: 10px;
	background-color: #fff;
}

.quiz-carousel {
	height: 400px;
	overflow: hidden;
	margin-top: 20px;
}

.quiz-carousel>.carousel-inner>.carousel-item>img {
	width: 100%;
	object-fit: cover;
}

.quiz-carousel>.carousel-inner {
	height: 100%;
}

.quiz-carousel>.carousel-inner>.carousel-item {
	height: 100%;
}

.section-name {
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: 200;
}

.quiz-container {
	padding-top: 20px;
	background-color: #fff
}

.submit-btn {
	margin-bottom: 15px;
}

.navbar-brand {
	margin-left: 10vw;
}

.right-navbar {
	margin-right: 10vw;
}

.navbar-brand>img {
	height: 35px;
}

@media only screen and (max-width : 768px) {
	.navbar-brand {
		margin-left: 0vw;
	}
	.container {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}
